$animation-duration: 500ms;
$animation-delay: 250ms;
$primary: #fbfbfb;
$secondary: #343d51;
$primary-text: #0a0a0a;
$secondary-text: #fbfbfb;

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 100;
    transform: translateY(0);
  }
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 100;
    transform: translateX(0);
  }
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  font-family: "Playfair Display", serif;
}
