$animation-duration: 500ms;
$animation-delay: 250ms;
$primary: #fbfbfb;
$secondary: #343d51;
$primary-text: #0a0a0a;
$secondary-text: #fbfbfb;
$box-shadow: 3px 3px 5px #eee, -3px -3px 5px #fff;
$box-shadow-inset: inset 3px 3px 5px #eee, inset -3px -3px 5px #fff;

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 100;
    transform: translateY(0);
  }
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 100;
    transform: translateX(0);
  }
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background: $primary;
}

button {
  height: 68px;
  box-shadow: $box-shadow;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  border-radius: 4px;
  background: transparent;

  &:hover {
    box-shadow: $box-shadow-inset;
  }
}

* {
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
}
